bin
obj
csx
.vs
edge
Publish
.vscode
_OLD_

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
/node_modules

# Ignoring Function index.js files
*.js
*.map

notes.md
.env
emojitrainings